
.f {
	font-family: 'Modak', cursive;
	font-size: 100px;
	color: #000;
}
.f1 {
	font-family: sans-serif;
	font-size: 50px;
	color: #000;
}
table, th, td {
	border: 1px solid #ffbb00;
  }
.header {
	padding: 60px;
	text-align: center;
	background: #ffbb00;
	
	
  }
#control{
	background-color:#ffbb00;


  }
.myButton {
	
	background-color:rgba(27, 238, 245, 0.836);
	border-radius:28px;
	border:none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
}
.myButton:hover {
	background-color:#ffbb00;
}
.myButton:active {
	position:relative;
	top:1px;
}

        